{
    "presets": ["next/babel"],
    "plugins": [
      ["inline-import", { "extensions": [".frag", ".vert", ".css"] }],
      ["styled-components", { "ssr": true, "displayName": true, "preprocess": false }],
    ],
}
